.tabs {
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
}

.tabs-button {
    border-radius: 10px;
    background: white;
    color: black;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}
